.recipe-card {
    margin-top: 25px;
    margin-left: 25px;
}
.cart-btn {
    margin-top: 10px;
    float: right;
    clear: both;
}
.add-cart-btn{
    float: right;
    clear: both;
}
.page-head {
    text-align: center;
    padding: 10px;
}